<section class="h-screen md:px-48 relative pt-50 md:pt-0 px-5 " >
    <div class="bg-gradient-to-t from-slate-900 via-slate-950 to-tranparent  rounded-lg p-6  ">
        <div class="flex items-center justify-start gap-2">
            <h2 class="py-5 text-3xl font-title text-amber-300 ">Experiencia Laboral </h2>
            <svg  xmlns="http://www.w3.org/2000/svg"  width="39"  height="39"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class=" mb-1 text-amber-200 icon icon-tabler icons-tabler-outline icon-tabler-briefcase"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" /><path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" /><path d="M12 12l0 .01" /><path d="M3 13a20 20 0 0 0 18 0" /></svg>
        </div>
        <div class="mb-2">
            <p class="text-amber-300 text-[13px] font-sans text-end">  
                9 de junio del  2025 
            </p>
            <h3 class="text-[18px] font-title text-white/90">
                <span class="text-white/50 text-[14px] font-sans ">Empresa:</span> <br>Instituto Tecnológico Investigacion Integracion social y Posgrado FiT
            </h3>
            <p class="text-white/90 text-[17px] font-title">
                <span class="text-white/50 text-[14px] font-sans ">Cargo Laboral:</span><br>
                Capacitador de Cursos 
            </p>
            <p class="text-white/70 text-[16px] font-sans">
                Desarrollador de aplicaciones web y movil, capacitador de cursos de desarrollo web y movil, capacitador de cursos de marketing digital, capacitador de cursos de diseño grafico, capacitador de cursos de fotografia, capacitador de cursos de edicion de video.
            </p>
        </div>
      
        <div class="mb-2">
            <p class="text-amber-300 text-[13px] font-sans text-end">  
                9 de junio del  2025 
            </p>
            <h3 class="text-[18px] font-title text-white/90">
                <span class="text-white/50 text-[14px] font-sans ">Empresa:</span> <br>Instituto Tecnológico Investigacion Integracion social y Posgrado FiT
            </h3>
            <p class="text-white/90 text-[17px] font-title">
                <span class="text-white/50 text-[14px] font-sans ">Cargo Laboral:</span><br>
                Capacitador de Cursos 
            </p>
            <p class="text-white/70 text-[16px] font-sans">
                Desarrollador de aplicaciones web y movil, capacitador de cursos de desarrollo web y movil, capacitador de cursos de marketing digital, capacitador de cursos de diseño grafico, capacitador de cursos de fotografia, capacitador de cursos de edicion de video.
            </p>
        </div>
       
        <div>
            <p class="text-amber-300 text-[13px] font-sans text-end">  
                9 de junio del  2025 
            </p>
            <h3 class="text-[18px] font-title text-white/80">
                <span class="text-white/50 text-[14px] font-sans ">Empresa:</span> <br>Instituto Tecnológico Investigacion Integracion social y Posgrado FiT
            </h3>
            <p class="text-white/90 text-[17px] font-title">
                <span class="text-white/50 text-[14px] font-sans ">Cargo Laboral:</span><br>
                Capacitador de Cursos 
            </p>
            <p class="text-white/70 text-[16px] font-sans">
                Desarrollador de aplicaciones web y movil, capacitador de cursos de desarrollo web y movil, capacitador de cursos de marketing digital, capacitador de cursos de diseño grafico, capacitador de cursos de fotografia, capacitador de cursos de edicion de video.
            </p>
        </div>
    </div>
</section>