---

---

<section id="Experiencia" class="relative min-h-screem md:px-48 relative pt-50 md:pt-0 px-1 " >
    <span class=" md:w-120 md:h-80 w-40 h-40  dark:bg-green-600 bg-neutral-500 md:top-20 top-[90%] right-14 opacity-20 blur-3xl absolute"></span>
    
    <div class="bg-gradient-to-t dark:from-slate-900 from-neutral-300 via-neutral-300 dark:via-slate-950 to-tranparent  rounded-lg p-6  ">
        <div class="flex items-center justify-start gap-2">
            <h2 class="py-5 md:text-3xl text-xl font-title bg-gradient-to-r from-slate-950 dark:from-amber-950  to-amber-500 bg-clip-text text-transparent ">Experiencia Laboral </h2>
            <svg  xmlns="http://www.w3.org/2000/svg"  width="39"  height="39"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class=" mb-1 text-amber-200 icon icon-tabler icons-tabler-outline icon-tabler-briefcase"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" /><path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" /><path d="M12 12l0 .01" /><path d="M3 13a20 20 0 0 0 18 0" /></svg>
        </div>
        <div class="mb-2">
            <p class="text-amber-300 text-[13px] font-sans text-end">  
                9 de junio del  2025 
            </p>
            <h3 class="text-[18px] font-title dark:text-white/90 text-slate-950/90">
                <span class="dark:text-white/50  text-slate-950/50 text-[14px] font-sans ">Empresa:</span> <br>Instituto Tecnol칩gico Investigacion Integracion social y Posgrado FiT
            </h3>
            <p class="dark:text-white/90 text-slate-950/90 text-[17px] font-title">
                <span class="dark:text-white/50  text-slate-950/50 text-[14px] font-sans ">Cargo Laboral:</span><br>
                Capacitador de Cursos 
            </p>
            <p class="dark:text-white/70 text-slate-950/70 text-[16px] font-sans">
                Desarrollador de aplicaciones web y movil, capacitador de cursos de desarrollo web y movil, capacitador de cursos de marketing digital, capacitador de cursos de dise침o grafico, capacitador de cursos de fotografia, capacitador de cursos de edicion de video.
            </p>
        </div>
      
        <div class="mb-2">
            <p class="text-amber-300 text-[13px] font-sans text-end">  
                9 de junio del  2025 
            </p>
            <h3 class="text-[18px] font-title dark:text-white/90 text-slate-950/90">
                <span class="dark:text-white/50  text-slate-950/50 text-[14px] font-sans ">Empresa:</span> <br>Instituto Tecnol칩gico Investigacion Integracion social y Posgrado FiT
            </h3>
            <p class="dark:text-white/90 text-slate-950/90 text-[17px] font-title">
                <span class="dark:text-white/50  text-slate-950/50 text-[14px] font-sans ">Cargo Laboral:</span><br>
                Capacitador de Cursos 
            </p>
            <p class="dark:text-white/70 text-slate-950/70 text-[16px] font-sans">
                Desarrollador de aplicaciones web y movil, capacitador de cursos de desarrollo web y movil, capacitador de cursos de marketing digital, capacitador de cursos de dise침o grafico, capacitador de cursos de fotografia, capacitador de cursos de edicion de video.
            </p>
        </div>
       
        
    </div>
</section>

