<!-- <section class="text-center relative">
    <div class="flex justify-center items-center ">
        <img src="/public/assets/img/foto-1.jfif" alt="Portada" class="w-auto mask-b-from-50% h-80 rounded-full object-cover">
    </div>
    <h1 class="text-white pb-5 font-dancy text-5xl -mt-8 font-bold -rotate-6 ">Soy Marcos Salvatierra</h1>
    <div class="flex justify-center items-center ">
        <a href="" class="bg-slate-950 w-55 text-amber-400 border-[1px] py-1 px-3 flex items-center justify-center rounded-full border-amber-300/50 ">Disponible a trabajo

        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="ms-2 icon icon-tabler text-blue-500 icons-tabler-outline icon-tabler-rosette-discount-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 7.2a2.2 2.2 0 0 1 2.2 -2.2h1a2.2 2.2 0 0 0 1.55 -.64l.7 -.7a2.2 2.2 0 0 1 3.12 0l.7 .7c.412 .41 .97 .64 1.55 .64h1a2.2 2.2 0 0 1 2.2 2.2v1c0 .58 .23 1.138 .64 1.55l.7 .7a2.2 2.2 0 0 1 0 3.12l-.7 .7a2.2 2.2 0 0 0 -.64 1.55v1a2.2 2.2 0 0 1 -2.2 2.2h-1a2.2 2.2 0 0 0 -1.55 .64l-.7 .7a2.2 2.2 0 0 1 -3.12 0l-.7 -.7a2.2 2.2 0 0 0 -1.55 -.64h-1a2.2 2.2 0 0 1 -2.2 -2.2v-1a2.2 2.2 0 0 0 -.64 -1.55l-.7 -.7a2.2 2.2 0 0 1 0 -3.12l.7 -.7a2.2 2.2 0 0 0 .64 -1.55v-1" /><path d="M9 12l2 2l4 -4" /></svg>
    </a>
    </div>
    <div class="text-center flex justify-center">
        <p class="text-white text-lg mt-4 semibold text-center md:w-150">
       
            <span class="text-amber-400 font-bold">Desarrollador Web</span> con experiencia en la creación de aplicaciones web modernas y eficientes. Me apasiona el desarrollo de software y siempre estoy buscando aprender nuevas tecnologías y mejorar mis habilidades.
        </p>

    </div>

    
    
</section> -->

<section id="Inicio" class=" md:px-45 py-10 h-screen relative">
    <span class=" md:w-80 md:h-50 w-40 h-40  dark:bg-blue-600 bg-neutral-500 md:top-20 top-[90%] left-14 opacity-20 blur-3xl absolute"></span>
    <div class=" justify-center items-center grid grid-cols-1 md:grid-cols-2 gap-4 mt-10">
        <div class=" order-2 md:order-1 p-4 rounded-lg  col-span-1 z-10">
            <h1 class="pb-1 font-title md:text-5xl text-3xl md:px-0 px-2  font-bold bg-gradient-to-r from-slate-950 dark:from-amber-950  to-amber-500 bg-clip-text text-transparent">
                Soy Marcos Salvatierra
            </h1>
            <p class="dark:text-white md-text-start text-center  text-slate-950 md:text-lg text-[14px] mt-4 md:px-0 px-2 semibold   ">
                <span class="md:text-amber-400 text-amber-700 font-bold text-start">Desarrollador Web</span> con experiencia en la creación de aplicaciones web modernas y eficientes.<span class="md:text-amber-400 text-amber-700 font-bold text-start"> Me apasiona el desarrollo de software </span>  y siempre estoy buscando aprender nuevas tecnologíasy mejorar mis habilidades.
            </p>
            <div class="relative md:w-85 w-75 mt-2 flex justify-center items-center pt-2 tickets-button  rounded-full bg-gradient-to-r from-[#01022b] via-[#0c013b] to-[#011a2b] px-3  py-2 text-sm/6 font-bold text-white shadow-lg shadow-[#ddb222]/30 transition-all hover:scale-105 hover:shadow-xl hover:shadow-[#ddb222]/40 ">
                <a href="#tickets" id="tickets-button" class="">
                    Disponible a trabajo
                </a>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="ms-2 icon icon-tabler text-blue-500 icons-tabler-outline icon-tabler-rosette-discount-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 7.2a2.2 2.2 0 0 1 2.2 -2.2h1a2.2 2.2 0 0 0 1.55 -.64l.7 -.7a2.2 2.2 0 0 1 3.12 0l.7 .7c.412 .41 .97 .64 1.55 .64h1a2.2 2.2 0 0 1 2.2 2.2v1c0 .58 .23 1.138 .64 1.55l.7 .7a2.2 2.2 0 0 1 0 3.12l-.7 .7a2.2 2.2 0 0 0 -.64 1.55v1a2.2 2.2 0 0 1 -2.2 2.2h-1a2.2 2.2 0 0 0 -1.55 .64l-.7 .7a2.2 2.2 0 0 1 -3.12 0l-.7 -.7a2.2 2.2 0 0 0 -1.55 -.64h-1a2.2 2.2 0 0 1 -2.2 -2.2v-1a2.2 2.2 0 0 0 -.64 -1.55l-.7 -.7a2.2 2.2 0 0 1 0 -3.12l.7 -.7a2.2 2.2 0 0 0 .64 -1.55v-1" /><path d="M9 12l2 2l4 -4" /></svg>
                
            </div>
            
            
        </div>

        <!-- Imagen para tema claro -->
        <div class="flex justify-center order-1 md:order-2 items-center dark:hidden z-10">
            <img src="/public/assets/img/foto-1.jfif" alt="Portada" class="w-auto border-2 border-slate-800/30 h-80 rounded-full object-cover">
        </div>
        <!-- Imagen para tema oscuro -->
        <div class="p-4 rounded-lg col-span-1 order-1 md:order-2 hidden dark:block  z-10">
            <img src="/public/assets/img/foto-4.jfif" alt="Sobre mi" class="w-full h-130 rounded-lg mask-t-from-90% hover:scale-110 mask-b-from-70% mask-l-from-70% mask-r-from-70%">
        </div>
    </div>
</section>
<style>
     .tickets-button {
    background-size: 200% 100%;
    animation: shimmer 3s linear infinite;
    position: relative;
    overflow: hidden;
  }

  .tickets-button::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.3), transparent);
    transform: rotate(30deg);
    animation: shine 3s linear infinite;
  }

  @keyframes shimmer {
    0% {
      background-position: 0% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

  @keyframes shine {
    0% {
      transform: translateX(-100%) rotate(30deg);
    }
    100% {
      transform: translateX(100%) rotate(30deg);
    }
  }

</style>