---
import { Icon } from 'astro-icon/components'
---

<section class="relative md:px-45 min-h-sreen md:pb-40 pb-20  md:pt-0 pt-20 px-2">
    
    <h3 class="md:text-4xl text-xl font-title bg-gradient-to-r from-slate-950 dark:from-amber-950  to-amber-500 bg-clip-text text-transparent mb-4">Habilidades Personales</h3>
    <div class="grid md:grid-cols-2 grid-cols-1 gap-4 items-center justfy-center ">
        <div class="col-span-1 p-1 rounded-lg border dark:border-white/10 border-slate-950/20">
            <h1 class="text-[16px] text-start font-title dark:text-amber-500 text-slate-900 mb-4 px-2">Aprendidas</h1>
            <div class=" flex itemes-center justify-center pb-4 gap-2 text-wrap px-2">
                
                <Icon name="iconcsharp" class="size-12 hover:scale-105" />
                <Icon name="angular" class="size-12 hover:scale-105" />
                <Icon name="astro" class="size-12 hover:scale-105" />
                <Icon name="bootstrap" class="size-12 hover:scale-105" />
                <Icon name="git" class="size-12 hover:scale-105" />
                <Icon name="django" class="size-12 hover:scale-105" />
                <Icon name="figma" class="size-12 hover:scale-105" />
                <Icon name="pinterest" class="size-12 hover:scale-105" />
                <Icon name="react" class="size-12 hover:scale-105" />

            </div>
        </div>
        <div class="col-span-1 p-1 rounded-lg border dark:border-white/10  border-slate-950/20">
            <h1 class="text-[16px] text-end font-title dark:text-amber-500 text-slate-900 mb-4 px-2">Aprendiendo</h1>
            <div class="flex itemes-center gap-2 pb-4 justify-center texr-wrap px-2 ">
                
                <Icon name="github1" class="size-12 hover:scale-105" />
                <Icon name="html5" class="size-12 hover:scale-105" />
                <Icon name="laravel" class="size-12 hover:scale-105" />
                <Icon name="mariadb" class="size-12 hover:scale-105" />
                <Icon name="npm" class="size-12 hover:scale-105" />

            </div>
        </div>
       
    </div>
</section>