<div class="text-white">
    <div class="flex items-center py-4   gap-2 justify-center w-full max-w-6xl">
        <a class=" bg-slate-900  px-4 py-1 rounded-full  ">
            Inicio 
        </a>
        <a  class=" bg-slate-900  px-4 py-1 rounded-full  ">
            Sobre mi 
        </a>
        <a  class=" bg-slate-900  px-4 py-1 rounded-full  ">
            aroyectos
        </a>
        <a  class=" bg-slate-900  px-4 py-1 rounded-full  ">
            Contactos 
        </a>


    </div>
</div>