---
import "../styles/global.css";

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		 

		<meta name="generator" content={Astro.generator} />
		<title>💼 Portafolio Personal</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">

		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

		<link href="https://fonts.googleapis.com/css2?family=Acme&family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Anton&family=Bebas+Neue&family=Boldonse&family=Bungee&family=Cal+Sans&family=Dancing+Script:wght@400..700&family=Jaro:opsz@6..72&family=Lobster&family=Marck+Script&family=Oleo+Script:wght@400;700&family=Oswald:wght@200..700&family=Pacifico&family=Permanent+Marker&family=Playwrite+RO:wght@100..400&family=Protest+Strike&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Special+Gothic+Condensed+One&family=Teko:wght@300..700&display=swap" rel="stylesheet">
		
	</head>
	<body class="bg-neutral-100  dark:bg-slate-950 text-white">
		<slot />
	</body>
</html>



<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
